<!DOCTYPE html>
<html lang="en">
<head>

<link rel="stylesheet" type='text/css' href='/project.css'/>
<meta charset="utf-8">
<meta name="author" content="Jessica CS">
<title> Jessica CS Home Page</title>
</head>

<body>
<header>
	<h1>Jessica Conner-Strunk</h1>
	<hr>
</header>
<nav>
	<a href="#poetry">Poetry</a>|<a href="#bio">Biography</a>|<a href="#schedule">Schedule</a>|<a href="#quotes">Favorite Quotes</a>|
</nav>
<article id=poetry>
	<div class="table">
		<div class="row">
			<div class="cell">
				<img src="SelfPortrait.webp" alt="self portrait">
			</div>
			<div class="cell">
				<pre>
						When you are told you have Schizophrenia
						You are essentially told
						To never trust what you believe
				</pre>
			</div>
		</div>
		<div class="row">
			<div class="cell">
				<pre>
						Out of the darkness
						A hand reaches out
						To grab my shoulder
						I recoil
						And turn to an empty street
				</pre>
			</div>
			<div class="cell">
				<img src="paranoia2.jpg" alt="Paranoia">
			</div>
		</div>
		<div class="row">
			<div class="cell">
				<img src="Hands2.jpg" alt="Hands">
			</div>
			<div class="cell">
				<pre>
					I never learned how to talk
					At least,
					Not in the right way
					I'm Sorry
				</pre>
			</div>
		</div>
		<div class="row">
			<div class="cell">
				<pre>
					If I were to tell you,
					Would you believe?
					Or walk away?
					
					And leave me here
					Alone
				</pre>
			</div>
			<div class="cell">
				<img src="PaperDolls2.webp" alt="Conformity">
			</div>
		</div>
	</div>
</article>
<section>
	<h1 id=bio>Biography</h1>
	<aside>
		<img src="selfie.jpg" alt="Author Pic">
	</aside>
	<p>I was diagnosed with Schizophrenia only a week after leaving for college. I firmly believe
	in being very open about my diagnosis, the way I see it, the world isn't going to change it's
	veiws on it's own. There is a lot of misinformation about mental illness in our society,
	and I believe that the best way to fix it, is to be the counter example. I have schizophrenia,
	I am not dangerous, and I will be successful in life.
	</p>
</section>
<table id=schedule>
	<tr>
		<th>
			<td>Monday</td>
			<td>Tuesday</td>
			<td>Wednesday</td>
			<td>Thusday</td>
			<td>Friday</td>
			<td>Saturday</td>
			<td>Sunday</td>
		</th>
	</tr>
	<tr>
		<th>7</th>
		<td>wake up</td>
		<td>wake up</td>
		<td>wake up</td>
		<td>wake up</td>
		<td>wake up</td>
		<td>wake up</td>
		<td>wake up</td>
	</tr>
	<tr>
		<th>8</th>
		<td>Breakfast</td>
		<td>Breakfast</td>
		<td>Breakfast</td>
		<td>Breakfast</td>
		<td>Breakfast</td>
		<td>Breakfast</td>
		<td>Breakfast</td>
	</tr>
	<tr>
		<th>9</th>
		<td>Medication and Relax</td>
		<td>Medication and Relax</td>
		<td>Medication and Relax</td>
		<td>Medication and Relax</td>
		<td>Medication and Relax</td>
		<td>Medication and Relax</td>
		<td>Medication and Relax</td>
	</tr>
	<tr>
		<th>10</th>
		<td>  </td>
		<td>  </td>
		<td>Therapy</td>
		<td>  </td>
		<td>  </td>
		<td>  </td>
		<td>  </td>
	</tr>
	<tr>
		<th>11</th>
		<td>Workout</td>
		<td>Workout</td>
		<td>Workout</td>
		<td>Workout</td>
		<td>Workout</td>
		<td>Workout</td>
		<td>Workout</td>
	</tr>
	<tr>
		<th>12</th>
		<td>Coursework</td>
		<td>  </td>
		<td>Coursework</td>
		<td>  </td>
		<td>Coursework</td>
		<td>  </td>
		<td>  </td>
	</tr>
	<tr>
		<th>1</th>
		<td>Lunch</td>
		<td>Lunch</td>
		<td>Lunch</td>
		<td>Lunch</td>
		<td>Lunch</td>
		<td>Lunch</td>
		<td>Lunch</td>
	</tr>
	<tr>
		<th>2</th>
		<td>Psychiatrist</td>
		<td>Violin</td>
		<td>  </td>
		<td>Violin</td>
		<td>  </td>
		<td>  </td>
		<td>Laundry</td>
	</tr>
	<tr>
		<th>3</th>
		<td>  </td>
		<td>  </td>
		<td>Shower</td>
		<td>  </td>
		<td>  </td>
		<td>  </td>
		<td>Shower</td>
	</tr>
	<tr>
		<th>4</th>
		<td>  </td>
		<td>  </td>
		<td>  </td>
		<td>  </td>
		<td>  </td>
		<td>  </td>
		<td>  </td>
	</tr>
	<tr>
		<th>5</th>
		<td>Dinner</td>
		<td>Dinner</td>
		<td>Dinner</td>
		<td>Dinner</td>
		<td>Dinner</td>
		<td>Gaming with Ryan</td>
		<td>Dinner</td>
	</tr>
	<tr>
		<th>6</th>
		<td>  </td>
		<td>  </td>
		<td>  </td>
		<td>  </td>
		<td>  </td>
		<td> - </td>
		<td>  </td>
	</tr>
	<tr>
		<th>7<th>
		<td>Dishes</td>
		<td>  </td>
		<td>Dishes</td>
		<td>  </td>
		<td>Class Project</td>
		<td> - </td>
		<td>  </td>
	</tr>
	<tr>
		<th>8</th>
		<td>Meds and Relax</td>
		<td>Meds and Relax</td>
		<td>Meds and Relax</td>
		<td>Meds and Relax</td>
		<td> - </td>
		<td>Dinner</td>
		<td>Meds and Relax</td>
	</tr>
	<tr>
		<th>9</th>
		<td>Get Ready For Bed</td>
		<td>Get Ready For Bed</td>
		<td>Get Ready For Bed</td>
		<td>Get Ready For Bed</td>
		<td> - </td>
		<td>Medication and Bed</td>
		<td>Get Ready For Bed</td>
	</tr>
	<tr>
		<th>10</th>
		<td>Sleep</td>
		<td>Sleep</td>
		<td>Sleep</td>
		<td>Sleep</td>
		<td>Sleep</td>
		<td>Sleep</td>
		<td>Sleep</td>
	</tr>
</table>
<footer>
<h3>Disturbed - Pain Redefined</h3>
	<iframe width="400" allowfullscreen src="https://www.youtube.com/watch?v=WsaYR3e4TuQ"></iframe>
<blockquote id=quotes cite="https://www.azlyrics.com/lyrics/sixxam/rise.html">
"Even when they strangle you, get yourself together"
Sixx am
</blockquote>
<h3>Polygon Game</h3>
<button type="button" onclick="Polygon();">Play</button>
	<canvas id="MyCanvas" width="480" height="250" style="border: 2px solid #00ffff; display: none;" onclick = "addPoly();">
		
	</canvas>
	
<form>
	First Name:
	<input type="text" id="first" size="15" autofocus>
	<br>
	Last Name: 
	<input type="text" id="last" size="25">
	<br>
	Email Address:
	<input type="text" id="email" size="25">
	<br>
	Comments
	<br>
	<textarea name="comment" rows="10" cols="50">
	</textarea>
	<br>
	<input type="submit" <!--onclick="emailScript();-->">
</form>
<script>
	let isGame = false;
	//alert("in javascript");
	let numPoly = 0;
	let poly1;
	let poly2;
	let poly3;
	let poly4;
	let poly5;
	let c;
	let ctx;
	//var canvas = document.getElementByID("Canvas");
	//function Hide()
	//{
	//	var canvas = document.getElementByID("Canvas");
	//	alert("hide function");
	//	$("#canvas").hide;
	//}
	const interval = window.setInterval(update, 200);
	function emailScript()
	{
		alert("Thank you! Your comment has been submitted.");
	}
	function Polygon()
	{
		//alert("polygon function");
		if(isGame==false)
		{
			document.getElementById("MyCanvas").style.display = "block";
			c = document.getElementById("MyCanvas");
			ctx = c.getContext("2d");
			isGame = true;
			//alert("isgame=true");
			//ctx.textAlign="center";
			//ctx.fillText(Click on the Canvas to Begin, 300, 110, 350);
		}
		else
		{
			addPoly();
		}
	}
	function addPoly()
	{	
		if(numPoly<=5)
		{
			//alert("addPoly");
			numPoly+=1;
			function Poly(xd, yd, x, y, sides, color)
			{
				this.xd = xd;
				this.yd = yd;
				this.x = x;
				this.y =y;
				this.sides = sides
				this.color = color;
			}

			if(numPoly==1)
			{
				poly1 = new Poly(1, 1, 50, 50, 3, "red");
				//alert(typeof poly1);
			}
			else if(numPoly==2)
			{
				poly2 = new Poly(1, 1, 75, 75, 3, "red");
			//	alert("addPoly2");
			}
			else if(numPoly==3)
			{
				poly3 = new Poly(1, 1, 200, 200, 3, "red");
			//	alert("addPoly3");
			}
			else if(numPoly==4)
			{
				poly4 = new Poly(1, 1, 300, 100, 3, "red");
			//	alert("addPoly4");
			}
			else
			{
				poly5 = new Poly(1, 1, 150, 150, 3, "red");
				//alert("addPoly5");
			}
		}
	}
	function draw()
	{
		//alert(typeof poly1);
		if(typeof poly1!= "undefined")
		{
			if(poly1.sides == 3)
			{
				//alert("draw poly1");
				ctx.moveTo(poly1.x, poly1.y);
				ctx.lineTo(poly1.x+5, poly1.y+10);
				ctx.lineTo(poly1.x-5, poly1.y+10);
				ctx.fillStyle = poly1.color;
				ctx.fill();
			}
			if(poly1.sides ==4)
			{
				ctx.fillRect(poly1.x, poly1.y, 10, 10);
			}
			if(poly1.sides==5)
			{
				ctx.moveTo(poly1.x, poly1.y);
				ctx.lineTo(poly1.x+5, poly1.y+5);
				ctx.lineTo(poly1.x+2, poly1.y+10);
				ctx.lineTo(poly1.x-2, poly1.y+10);
				ctx.lineTo(poly1.x-5, poly1.y+5);
				ctx.fill();
			}
		}
		if(typeof poly2!= "undefined")
		{
			if(poly2.sides == 3)
			{
				//alert("draw poly2");
				ctx.moveTo(poly2.x, poly2.y);
				ctx.lineTo(poly2.x+5, poly2.y+10);
				ctx.lineTo(poly2.x-5, poly2.y+10);
				ctx.fillStyle = poly1.color;
				ctx.fill();
			}
			if(poly2.sides ==4)
			{
				ctx.fillRect(poly2.x, poly2.y, 10, 10);
			}
			if(poly2.sides==5)
			{
				ctx.moveTo(poly2.x, poly2.y);
				ctx.lineTo(poly2.x+5, poly2.y+5);
				ctx.lineTo(poly2.x+2, poly2.y+10);
				ctx.lineTo(poly2.x-2, poly2.y+10);
				ctx.lineTo(poly2.x-5, poly2.y+5);
				ctx.fill();
			}
		}
		if(typeof poly3!= "undefined")
		{
			if(poly3.sides == 3)
			{
				//alert("draw poly2");
				ctx.moveTo(poly3.x, poly3.y);
				ctx.lineTo(poly3.x+5, poly3.y+10);
				ctx.lineTo(poly3.x-5, poly3.y+10);
				ctx.fillStyle = poly1.color;
				ctx.fill();
			}
			if(poly3.sides ==4)
			{
				ctx.fillRect(poly3.x, poly3.y, 10, 10);
			}
			if(poly3.sides==5)
			{
				ctx.moveTo(poly3.x, poly3.y);
				ctx.lineTo(poly3.x+5, poly3.y+5);
				ctx.lineTo(poly3.x+2, poly3.y+10);
				ctx.lineTo(poly3.x-2, poly3.y+10);
				ctx.lineTo(poly3.x-5, poly3.y+5);
				ctx.fill();
			}
		}
		if(typeof poly4!= "undefined")
		{
			if(poly4.sides == 3)
			{
				//alert("draw poly2");
				ctx.moveTo(poly4.x, poly4.y);
				ctx.lineTo(poly4.x+5, poly4.y+10);
				ctx.lineTo(poly4.x-5, poly4.y+10);
				ctx.fillStyle = poly1.color;
				ctx.fill();
			}
			if(poly4.sides ==4)
			{
				ctx.fillRect(poly4.x, poly4.y, 10, 10);
			}
			if(poly4.sides==5)
			{
				ctx.moveTo(poly4.x, poly4.y);
				ctx.lineTo(poly4.x+5, poly4.y+5);
				ctx.lineTo(poly4.x+2, poly4.y+10);
				ctx.lineTo(poly4.x-2, poly4.y+10);
				ctx.lineTo(poly4.x-5, poly4.y+5);
				ctx.fill();
			}
		}
		if(typeof poly5!= "undefined")
		{
			if(poly5.sides == 3)
			{
				//alert("draw poly2");
				ctx.moveTo(poly5.x, poly5.y);
				ctx.lineTo(poly5.x+5, poly5.y+10);
				ctx.lineTo(poly5.x-5, poly5.y+10);
				ctx.fillStyle = poly1.color;
				ctx.fill();
			}
			if(poly5.sides ==4)
			{
				ctx.fillRect(poly5.x, poly5.y, 10, 10);
			}
			if(poly5.sides==5)
			{
				ctx.moveTo(poly5.x, poly5.y);
				ctx.lineTo(poly5.x+5, poly5.y+5);
				ctx.lineTo(poly5.x+2, poly5.y+10);
				ctx.lineTo(poly5.x-2, poly5.y+10);
				ctx.lineTo(poly5.x-5, poly5.y+5);
				ctx.fill();
			}
		}
		//ctx.moveTo();
	}
	function update()
	{
		
		//alert("in update");
		if(isGame==true)
		{
			//alert("about to call move/draw");
			ctx.clearRect(0, 0, 480, 250);
			move();
			draw();
		}
	}
	function move()
	{
		if(typeof poly1!="undefined")
		{
			var letters = '0123456789ABCDEF';
			var color = '#';
			for (var i = 0; i < 6; i++) {
			color += letters[Math.floor(Math.random() * 16)];
			}
			poly1.color = color;
			//poly1.color = "rgb((Math.floor(Math.random()*255)), (Math.floor(Math.random()*255)), (Math.floor(Math.random()*255)) )";
			poly1.sides = Math.floor(Math.random()*3+3);
		}
		if(typeof poly2!="undefined")
		{
			var letters = '0123456789ABCDEF';
			var color = '#';
			for (var i = 0; i < 6; i++) {
			color += letters[Math.floor(Math.random() * 16)];
			}
			poly2.color = color;
			//poly2.color = "rgb((Math.floor(Math.random()*255)), (Math.floor(Math.random()*255)), (Math.floor(Math.random()*255)) )";
			poly2.sides = Math.floor(Math.random()*3+3);
		}
		if(typeof poly3!="undefined")
		{
			var letters = '0123456789ABCDEF';
			var color = '#';
			for (var i = 0; i < 6; i++) {
			color += letters[Math.floor(Math.random() * 16)];
			}
			poly3.color = color;
			//poly1.color = "rgb((Math.floor(Math.random()*255)), (Math.floor(Math.random()*255)), (Math.floor(Math.random()*255)) )";
			poly3.sides = Math.floor(Math.random()*3+3);
		}
		if(typeof poly4!="undefined")
		{
			var letters = '0123456789ABCDEF';
			var color = '#';
			for (var i = 0; i < 6; i++) {
			color += letters[Math.floor(Math.random() * 16)];
			}
			poly4.color = color;
			//poly1.color = "rgb((Math.floor(Math.random()*255)), (Math.floor(Math.random()*255)), (Math.floor(Math.random()*255)) )";
			poly4.sides = Math.floor(Math.random()*3+3);
		}
		if(typeof poly5!="undefined")
		{
			var letters = '0123456789ABCDEF';
			var color = '#';
			for (var i = 0; i < 6; i++) {
			color += letters[Math.floor(Math.random() * 16)];
			}
			poly5.color = color;
			//poly1.color = "rgb((Math.floor(Math.random()*255)), (Math.floor(Math.random()*255)), (Math.floor(Math.random()*255)) )";
			poly5.sides = Math.floor(Math.random()*3+3);
		}
	}
	
</script>
</footer>
</body>